# Prevent people from looking directly into folders
Options -Indexes

# rewrites
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{ENV:HTTPS} !=on
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI}.html [R=301,L]
# some conditions for the url rewrite
# request may not be an existing directory
RewriteCond %{REQUEST_FILENAME} !-d
# request may not be an existing file
RewriteCond %{REQUEST_FILENAME} !-f
# request may not be an exisiting symbolic link
RewriteCond %{REQUEST_FILENAME} !-l
# if conditions are true store the request in the url-param
RewriteRule ^(.+)$ %{REQUEST_URI}.html [QSA,L]

# caching
ExpiresActive On
ExpiresDefault "access plus 1 month"

# compressing
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript text/javascript application/json